<!-- templates/login.html-->

<html>

<head>
    <title>Refresh</title>
        <style>
    button {
        font-size: 150%;
    }
    div.center {
        text-align: center;
        margin: 2em 0 0 0;
    }
    p.hide {
        display: none;
    }
    </style>
</head>

<body>

    <div class="center">
        <form method="POST" id="refresh"
              action="{{ url_for('refresh') }}">
            <p> <label for="token">Token:</label></p>
            <p>
            <input type="text"
                   name="token"
                   placeholder="token"/>
            </p>
            <button type="submit">Refresh</button>
        </form>
    <div>
</body>

</html>
